.image {

    width: 150px;
    height: auto;
    padding: 10px;

}

body {

    background-color: pink;

}
table {

    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

td,th {
   
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0px;
    height: 50px;  
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

th {

    background-color:lightgrey;

}

img {

    height : 200px;

}

.thickborder {

    border: 4px solid #222;
    box-sizing:border-box;
    
}

h1 {
    font-family: arial;
    font-size: 30px;
    color: #222; 
    text-align: center;

}

blockquote {
     border-left: 4px solid #888;
     padding-left: 5px;
     font-size: 20px;
     color: #477;
     max-width: 150px;
}

p {
     text-align: right;
     font-size: 16px;
     color: #744;
     padding: 3px;
}
 
div {
    border: 2px solid #222;
    float:left;
    margin: 5px;
}

.image {

    width: 150px;
    height: auto;
    padding: 10px;

}

table {

    margin-left: 20px;
    border-collapse: collapse;
    width: 100%;
}

td,th {
   
    border-top: 1px solid black;
    border-right: 1px solid black;
    margin: 0px;
    height: 50px;  
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}